In [6]:
import pandas as pd

In [7]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

In [8]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'

iter_df = pd.read_csv(
    prefix + 'yellow_tripdata_2021-01.csv.gz',
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

In [9]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
from tqdm.auto import tqdm

first = True
for df in tqdm(iter_df):
    if first:
        df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace') 
        first = False
        print("Table Created")
    else: 
        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append') 
        print(f"Inserted {len(df)} rows")

0it [00:00, ?it/s]

Table Created
Inserted 100000 rows
Inserted 100000 rows
Inserted 100000 rows
Inserted 100000 rows
Inserted 100000 rows
Inserted 100000 rows
Inserted 100000 rows
Inserted 100000 rows
Inserted 100000 rows
Inserted 100000 rows
Inserted 100000 rows
Inserted 100000 rows
Inserted 69765 rows